.App{
  font-family: 'Inter', sans-serif;
}

h1{
  font-weight: 900;
}

h2, h3, h4, h5, h6{
  font-weight: 800;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.Customfont{
  font-size: 1.3rem;
}
